{% load get_categories from my_filters %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'home/main-section.css' %}">

<div class="main-section-cont">

    <div class="sections">
{# *************************** Boys *****************************#}

    {% if chosen_child.gender == "BOY" %}
        {% for s in chosen_child_sections %}
            {% if s|get_categories %}
                {% if chosen_child.name != "Coming Soon" %}
{#                    {% if s.name == "Clothes" and chosen_child.name == "Coming Soon" %}#}
{#                        <div class="section min-height boy">#}
{#                            <h3 class="blue">Current Wardrobe <span class="sizes-text" data-toggle="tooltip" data-placement="top" title="Change sizes" style="margin-left: 50px">Sizes</span></h3>#}
                    {% if s.name == "Clothes" %}
                        <div class="section min-height boy">

                            <div class="blue h3-cont">
                                <h3 class="child-name">{{ chosen_child.name }}'s</h3>
                                <div class="child-sizes">
                                    <span class="sizes-text" data-toggle="tooltip" data-placement="top" title="Change sizes">Sizes: {{ chosen_child.get_clothes_sizes_str }}</span>
                                </div>
                            </div>
                            <h3 class="blue">Current Wardrobe</h3>

                    {% else %}
                        <div class="section boy">
                            <h3 class="blue">{{ s.name }}</h3>
                    {% endif %}
                 {% else %}
                    {% if s.name == "Clothes" %}
                        <div class="section min-height boy">
                            <h3 class="blue">Wardrobe <span class="sizes-text" data-toggle="tooltip" data-placement="top" title="Change sizes">Sizes</span></h3>
                    {% elif s.name == "Shoes" %}
                        <div class="section min-height boy">
                            <h3 class="blue">Shoes<span class="sizes-text" data-toggle="tooltip" data-placement="top" title="Change sizes">Sizes</span></h3>
                    {% else %}
                        <div class="section min-height boy">
                            <h3 class="blue">{{ s.name }}<span class="sizes-text" data-toggle="tooltip" data-placement="top" title="Change sizes">Sizes</span></h3>
                    {% endif %}
                 {% endif %}
            <hr class="hr-section-name">
                <div class="category-row">
                    <span class="category-row-name clothes-sizes-name"></span>
                    <span class="pink category-row-details">
                        <span class="format-sizes bolder black sm-width items">Items</span>
                        <span class="format-sizes"></span>
                        <span class="format-sizes"></span>
                        <span class="format-sizes"></span>
                    </span>
                    <hr>
                </div>
                <div class="categories">
                    {% for category in s|get_categories %}

                        <div class="category-row">
                            <span class="category-row-name">
                                <a href="{% url 'clothing_items_list' pk=category.id %}"><H6 class="pink">{{ category.name }}</H6></a>
                            </span>
                            <span class="category-row-details blue">
                                <span class="total format-sizes sm-width">{{ category.num_items }}</span>

                                {% if s.name == 'Clothes' %}
                                        <span class="add-item format-sizes sm-width"><a href="{% url 'add_clothing_items' pk=category.pk %}"><span id=""><img src="{% static '/open-iconic-master/svg/plus.svg' %}" class="ico" alt="plus"></span></a></span>
                                        <span class="delete-item format-sizes sm-width"><a><span id=""><img src="{% static '/open-iconic-master/svg/trash.svg' %}" class="ico" alt="trash"></span></a></span>
                                        <span class="needs-more format-sizes pink bolder">Needs more</span>
                                    {% elif s.name == 'Shoes' %}
                                        <span class="add-item format-sizes sm-width"><a href="{% url 'add_shoe_items' pk=category.pk %}"><span id=""><img src="{% static '/open-iconic-master/svg/plus.svg' %}" class="ico" alt="plus"></span></a></span>
                                        <span class="delete-item format-sizes sm-width"><a><span id=""><img src="{% static '/open-iconic-master/svg/trash.svg' %}" class="ico" alt="trash"></span></a></span>
                                        <span class="needs-more format-sizes pink bolder">Needs more</span>
                                    {% else %}
                                         <span class="add-item format-sizes sm-width"><a href="{% url 'add_items' pk=category.pk %}"><span id=""><img src="{% static '/open-iconic-master/svg/plus.svg' %}" class="ico" alt="plus"></span></a></span>
                                        <span class="delete-item format-sizes sm-width"><a><span id=""><img src="{% static '/open-iconic-master/svg/trash.svg' %}" class="ico" alt="trash"></span></a></span>
                                        <span class="needs-more format-sizes pink bolder">Needs more</span>
                                    {% endif %}

                            </span>
                        </div>
                        <hr>

                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if s.name == 'Clothes' %}
                <div id="small-commercial">
                    {% include 'home/commercial_section.html' %}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
{# *************************** Girls *****************************#}

        {% for s in chosen_child_sections %}
            {% if s|get_categories %}
                {% if chosen_child.name != "Coming Soon" %}
                    {% if s.name == "Clothes" %}
                        <div class="section min-height girl">

                            <div class="blue h3-cont">
                                <h3 class="pink child-name">{{ chosen_child.name }}'s</h3>
                                <div class="child-sizes">
                                    <span class="sizes-text" data-toggle="tooltip" data-placement="top" title="Change sizes">Sizes: {{ chosen_child.get_clothes_sizes_str }}</span>
                                </div>
                            </div>
                            <h3 class="pink">Current Wardrobe</h3>

                     {% elif s.name == "Shoes" %}
                        <div class="section min-height girl">
                            <h3 class="pink"> Shoes </h3>
                    {% else %}
                        <div class="section girl">
                            <h3 class="pink">{{ s.name }}</h3>
                    {% endif %}
                {% else %}
                   {% if s.name == "Clothes" %}
                        <div class="section min-height coming">
                            <h3 class="pink">
                                <span class="width-200">Wardrobe</span>
                                <span class="sizes-text margin-left-sizes" data-toggle="tooltip" data-placement="top" title="Change sizes" style="margin-left: 180px">Sizes</span>
                            </h3>
                    {% elif s.name == "Shoes" %}
                        <div class="section min-height coming">
                            <h3 class="pink">
                                <span class="width-200">Shoes</span>
                                <span class="sizes-text margin-left-sizes" data-toggle="tooltip" data-placement="top" title="Change sizes">Sizes</span>
                            </h3>
                    {% else %}
                        <div class="section min-height coming">
                            <h3 class="pink">
                                <span class="width-200">{{ s.name }}</span>
                                <span class="sizes-text margin-left-sizes" data-toggle="tooltip" data-placement="top" title="Change sizes">Sizes</span>
                            </h3>
                    {% endif %}
                {% endif %}

                    <hr class="hr-section-name">
                    <div class="category-row">
                        <span class="category-row-name clothes-sizes-name"></span>
                        <span class="pink category-row-details">
                            <span class="format-sizes bolder black sm-width items">Items</span>
                            <span class="format-sizes"></span>
                            <span class="format-sizes"></span>
                            <span class="format-sizes"></span>
                        </span>
                        <hr>
                    </div>
                    <div class="categories">
                        {% for category in s|get_categories %}

                            <div class="category-row">
                                <span class="category-row-name">
                                    <a href="{% url 'clothing_items_list' pk=category.id %}"><H6 class="pink">{{ category.name }}</H6></a>
                                </span>
                                <span class="category-row-details blue">
                                    <span class="total format-sizes sm-width">{{ category.num_items }}</span>

{#                                    {% if s.name == 'Clothes' %}#}
                                        <span class="add-item format-sizes sm-width"><a href="{% url 'add_items' pk=category.pk %}"><span id=""><img src="{% static '/open-iconic-master/svg/plus.svg' %}" class="ico" alt="plus"></span></a></span>
                                        <span class="delete-item format-sizes sm-width"><a><span id=""><img src="{% static '/open-iconic-master/svg/trash.svg' %}" class="ico" alt="trash"></span></a></span>
                                        <span class="needs-more format-sizes pink bolder">Needs more</span>
{#                                    {% elif s.name == 'Shoes' %}#}
{#                                        <span class="add-item format-sizes sm-width"><a href="{% url 'add_items' pk=category.pk %}"><span id=""><img src="{% static '/open-iconic-master/svg/plus.svg' %}" class="ico" alt="plus"></span></a></span>#}
{#                                        <span class="delete-item format-sizes sm-width"><a><span id=""><img src="{% static '/open-iconic-master/svg/trash.svg' %}" class="ico" alt="trash"></span></a></span>#}
{#                                        <span class="needs-more format-sizes pink bolder">Needs more</span>#}
{#                                    {% else %}#}
{#                                         <span class="add-item format-sizes sm-width"><a href="{% url 'add_items' pk=category.pk %}"><span id=""><img src="{% static '/open-iconic-master/svg/plus.svg' %}" class="ico" alt="plus"></span></a></span>#}
{#                                        <span class="delete-item format-sizes sm-width"><a><span id=""><img src="{% static '/open-iconic-master/svg/trash.svg' %}" class="ico" alt="trash"></span></a></span>#}
{#                                        <span class="needs-more format-sizes pink bolder">Needs more</span>#}
{#                                    {% endif %}#}

                                </span>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if s.name == 'Clothes' %}
                <div id="small-commercial">
                    {% include 'home/commercial_section.html' %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>

</div>
