{% extends 'base_card.html' %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block card_title %} Items in this category {% endblock %}

{% block card_content %}

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10">

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% for i in items %}

                    <div class="items-cont" style="width: 400px">
                        <div class="item-cont" style="display: flex; justify-content: space-between; width: 100%">
                            <div>{{ i.brand }}</div>
                            <div>{{ i.condition }}</div>
                            <div>{{ i.color }}</div>
                            <div>{{ i.sex }}</div>
                            <a href="{% url 'update_item' pk=i.pk %}"><img src="{% static '/open-iconic-master/svg/pencil.svg' %}" class="ico" alt="plus"></a>
                        </div>
                        <hr>
                    </div>

                {% endfor %}

            </form>

        </div>

      </div>
    </div>

{% endblock %}