{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'login_register/style.css' %}">

    <div class="container-fluid">
        <div id="cards" class="row">
            <div class="col-md-4 mt-5 single-card">
              <div class="card text-center">
                <div class="card-body card_title">
                    <div id="form-container">
                        <h3 class="card-title">Sign up</h3>
                        <hr>
                        <form method="post" class="form">
                            <br>
                            {% csrf_token %}
                            {% bootstrap_form form layout='inline'%}
                            <ul class="form-actions">
                                <li><input id="submit" type="submit" value="Login" class="btn btn-primary" /></li>
                            </ul>
                        </form>
                    </div>

                </div>
              </div>
            </div>

            <h4 id="or">OR</h4>

            <div class="col-md-4 mt-5 single-card">
          <div class="card text-center">
            <div class="card-body">

                <h3 class="card-title">Sign up with</h3>
                <hr class="social-hr">
                <div class="card_title">
                    <div id="form-container">
                        <ul id="social-container">
                            <li>
                                <button id="facebook" type="submit" class="btn social-btn">
                                    <i class="fab fa-facebook-f"></i>
                                    <span style="color: #eeeeee">Facebook</span>
                                </button>
                            </li>
                            <li>
                                <button id="google" type="submit" class="btn social-btn">
                                    <img id="google-img" src="{% static 'images/new-google-favicon-512.png' %}">
                                    <span style="color: gray; font-weight: 600">Google</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
          </div>
        </div>

        </div>
            <div id="register-div">
                <ul id="register-ul">
                    <li id="li-register"><a id="register" href="{% url 'login' %}"><< Back to Login</a></li>
                </ul>
            </div>
    </div>

{% endblock %}