{% load static %}
{% load get_categories from my_filters %}


<link rel="stylesheet" type="text/css" href="{% static 'home/children-sidenav.css' %}">

<div class="sidenav-container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">

                {% for s in chosen_child_sections %}

                    <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a id="clothes" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ s.pk }}"><span class="">
                            {% if s.name == "Clothes" %}
                                <img id="clothes-icon" src="{% static 'images/jacket.png' %}" class="icon" alt="pencil">
                            {% elif s.name == "Shoes"%}
                                <img id="clothes-icon" src="{% static 'images/shoes.png' %}" class="icon" alt="pencil">
                            {% elif s.name == "Toys"%}
                                <img id="clothes-icon" src="{% static 'images/teddy_bear.png' %}" class="icon" alt="pencil">
                            {% else %}
                                <img id="clothes-icon" src="{% static 'images/empty_folder.png' %}" class="icon" alt="pencil">
                            {% endif %}
                            </span><span class="text-menu">{{ s.name }}</span></a>
                            {% if s.name != "Clothes" and s.name != "Shoes" and s.name != "Toys" %}
                            <div class="dropdown sidenav">
                              <a class="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span id="menu-2"><img src="{% static 'images/menu_2.png' %}" class="icon-menu-2" alt="mwnu-2"></span>
                              </a>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{% url 'update_section' pk=s.pk %}" style="color: #2e3450">Change Name</a>
                                <a class="dropdown-item" href="{% url 'delete_section' pk=s.pk %}" style="color: #2e3450">Delete</a>
                              </div>
                            </div>
                            {% endif %}
                        </h4>
                    </div>
                    <div id="collapse{{ s.pk }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                {% for category in s|get_categories %}
                                <tr>
                                    <td>
                                        <a class="category-details" href="">
                                            <span class="category-name">{{ category.name }}</span>
                                            {% if category.num_items and category.num_items != 0 %}
                                                {% if category.num_items <= 10 %}
                                                    <span class="num-items padding-to-9">{{ category.num_items }}</span>
                                                {% elif 10 <= category.num_items and category.num_items < 100 %}
                                                    <span class="num-items padding-10-to-99">{{ category.num_items }}</span>
                                                {% else %}
                                                    <span class="num-items padding-100-and-up">{{ category.num_items }}</span>
                                                {% endif %}
                                            {% endif %}
                                            <span></span>
                                        </a>
                                        {% if category.name != "Bodies" and  category.name != "Blouses" and  category.name != "Trousers" and  category.name != "Shorts" and category.name != "Boots" and  category.name != "Sneakers" and  category.name != "Sandals" and category.name != "Baby" and  category.name != "Outdoor" and  category.name != "Musical" %}
                                        <div class="dropdown sidenav">
                                          <a class="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span id="icon-pink"><img src="{% static 'images/menu_pink.png' %}" class="icon-menu-2 margin-left" alt="icon-pink"></span>
                                          </a>
                                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="{% url 'update_category' pk=category.pk %}">Change Name</a>
                                            <a class="dropdown-item" href="{% url 'delete_category' pk=category.pk %}">Delete</a>
                                          </div>
                                        </div>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                {% if chosen_child_sections %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'add_category' pk=s.pk %}"> Add new category</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>

                {% endfor %}
                {% if chosen_child_sections %}
                <div class="panel">
                    <div id="new-section-id" class="panel-heading_new_section">
                        <h4 class="panel-title">
                        <a href="{% url 'add_section' pk=chosen_child.pk %}"><span class="glyphicon glyphicon-file">
                                <img id="clothes-icon" src="{% static 'images/folder_plus.png' %}" class="icon" alt="pencil">
                            </span><span class="new-section">New Section</span></a>
                        </h4>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
</div>

<script>

    $(document).on(
        'click.bs.dropdown.data-api',
        '[data-toggle="collapse"]',
        function (e) { e.stopPropagation() }
    );

</script>