{% load static %}
{% load get_categories from my_filters %}


<link rel="stylesheet" type="text/css" href="{% static 'home/children-sidenav.css' %}">

<div class="sidenav-container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">

                {% for s in chosen_child_sections %}

                    <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a id="clothes" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ s.pk }}"><span class="">
                            {% if s.name == "Clothes" %}
                                <img id="clothes-icon" src="{% static 'images/jacket.png' %}" class="icon" alt="pencil">
                            {% elif s.name == "Shoes"%}
                                <img id="clothes-icon" src="{% static 'images/shoes.png' %}" class="icon" alt="pencil">
                            {% elif s.name == "Toys"%}
                                <img id="clothes-icon" src="{% static 'images/teddy_bear.png' %}" class="icon" alt="pencil">
                            {% endif %}
                            </span><span class="text-menu">{{ s.name }}</span></a>
                        </h4>
                    </div>
                    <div id="collapse{{ s.pk }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                {% for category in s|get_categories %}
                                <tr>
                                    <td>
                                        <a href="">{{ category.name }}</a> <span class="label label-success">{{ category.num_items }}</span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>

                {% endfor %}

                <div class="panel">
                    <div id="new-section-id" class="panel-heading">
                        <h4 class="panel-title">
                        <a href=""><span class="glyphicon glyphicon-file">
                                <img id="clothes-icon" src="{% static 'images/folder.png' %}" class="icon" alt="pencil">
                            </span><span class="new-section">New Section</span></a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

    $(document).on(
        'click.bs.dropdown.data-api',
        '[data-toggle="collapse"]',
        function (e) { e.stopPropagation() }
    );

</script>